body{
    margin: auto;    
    width: 60%;
    /* display: flex; */
    font-family: sans-serif;
    box-sizing: border-box;
}
@media screen and (max-width:1029px){
.col{
    width: 50%;
    float: left;
    /* margin-bottom: 90px; */
    transform: translate(30px,-70px);
}
}
@media screen and (min-width:852px){
div{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto ;
    gap: 50px;
}
}
table,tr,td,th{
    border: 1px solid;
    border-collapse: collapse;
}
.demo{
    border: none;
}

#submit{
    background-image: linear-gradient(to right,#61045f,#aa076b);
    width: 100px;
    height: 30px;
    margin-left: 100px;
}
#div2{
    display: grid;
    border: 2px solid;
    width: 350px;
    height: 380px;
    border-radius: 10px;
    margin-top: 50px;
    transform: translateX(-60px);
    /* margin-right: 90px; */
    background: linear-gradient(#380036,#0CBABA);
}
#form{
    
    height: 300px  ;
    width: 280px;
    transform: translate(40px,40px);
    box-shadow: 0 15px 20px rgba(0,0, 0,0.6);
}
 label{
    color: #fff;
    margin-left: 50px;
    
 } 
 input{
    margin-left: 50px;
 }
 table{
    height: 50px;
    margin-top: 100px;
 }
 #tr1{
    background-color:darkblue;
    color: #fff;
 }
 #div3{
    transform: translateX(-50px);
 }



